@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #c0c0c0;
  --black1: #222;
  --black2: #9999;
  --red: #ff5733;
}
body {
  min-height: 100vh;
  overflow: hidden;
}
.container {
  position: relative;
  width: 100%;
}
select {
  font-size: 0.75rem;
  width: 160px;
  padding: 5px;
  background-color: white;
  border-radius: 0.25rem;
  border: thin solid var(--blue);
  display: inline-block;
  line-height: 1.5em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}
input {
  padding: 5px;
  line-height: 1.5em;
  border: thin solid var(--blue);
  border-radius: 0.25rem;
  font-size: 0.75rem;
}
label {
  font-weight: 600;
  margin-right: 5px;
  font-size: 1rem;
}
legend {
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* Date picker */
.datepicker {
  border-radius: 0.25rem;
  border: thin solid var(--blue);
  line-height: 1.5rem;
  padding: 3px 5px;
  color: #607d8b;
  width: 130px;
  background-image: url("./img/calendar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}
#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--red);
}
.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}
.ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #546e7a;
  font-size: 0.875rem;
  text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
  background-color: #e0f2f1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #009688;
  color: white;
}
.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
  background-color: #eceff1;
}
.ui-datepicker-header a.ui-datepicker-prev {
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}
.ui-datepicker-header a > span {
  display: none;
}
.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
  color: #78909c;
  font-weight: 400;
  font-size: 0.75rem;
}
/* End Date Picker */

/* Time picker */
.timepicker {
  width: 60px;
  font-size: 0.95rem;
}
.ui-timepicker-standard {
  font-size: 1rem;
  font-family: inherit;
}
/* End time picker */

/* Search icons */
.fa-search {
  padding: 7px;
  color: var(--white);
  background: var(--blue);
  cursor: pointer;
}

/* Buttons */
.btns {
  padding: 5px 10px;
  background: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.btns:hover {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--black1);
}

.navigation {
  position: fixed;
  width: 250px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 75px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon i {
  font-size: 1.75em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
/* Curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* Main */
.main {
  position: absolute;
  width: calc(100% - 250px);
  left: 250px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 75px);
  left: 75px;
}
/* Topbar */
.topbar {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: var(--blue);
  margin-bottom: 1rem;
  border-left: 2px solid var(--white);
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.drop-menu {
  padding: 16px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown i {
  margin-left: 10px;
  height: 10px;
  padding-bottom: 5px;
  font-size: 0.75rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: var(--blue);
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .drop-menu {
  color: var(--grey);
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 0 20px 0 35px;
  outline: none;
  border: 1px solid var(--black2);
}
.search label .search-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
  padding: 0;
  background: none;
  color: gray;
}
.user {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Tabset */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.tabset {
  max-width: 100%;
  margin-left: 2rem;
  margin-right: 1rem;
}
/* Tabset header */
.tabset-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  left: 310px;
  position: absolute;
}
.tabset-header i {
  background: var(--blue);
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}
.tabset-header input {
  width: 120px;
}
.tabset-header .title {
  padding: 5px;
  background: var(--blue);
  border-radius: 5px;
  font-weight: 600;
  color: var(--white);
}
.tabset-header p b {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--red);
  margin-right: 10px;
  width: 130px;
}
.tabset-header .form-group {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.tabset-header .form-group label {
  font-weight: normal;
}

/* Tab panel */
/* Guest Container */
.guest-container i {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px;
  background: var(--blue);
  color: var(--white);
  border-radius: 3px;
  font-size: 1.1rem;
  cursor: pointer;
}
.guest-container .top {
  display: flex;
  margin-top: 20px;
  padding: 5px;
}
.guest-container .top label {
  font-weight: normal;
  display: inline-block;
  width: 200px;
  text-align: left;
  padding: 10px;
}
.guest-container .top .right,
.guest-container .top .mid,
.guest-container .top .left {
  flex: 1;
}
.guest-container .top .right .form-group,
.guest-container .top .right .form-group-1 {
  display: flex;
  align-items: center;
}
.guest-container .top .right .form-group-1 input{
    width: 200px;
}
.guest-container .top .right .form-group-1 i{
    margin-left: 3px;
}
.guest-container .top .right .form-group .form-check {
  display: flex;
  width: 200px;
}
.guest-container .top .right input,
.guest-container .top .right select {
  width: 270px;
}

.guest-container .top .mid input,
.guest-container .top .mid select,
.guest-container .top .left input,
.guest-container .top .left select {
  width: 250px;
}
.guest-container .bottom table tr td{
    height: 180px;
}
.guest-container a {
  width: 160px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1366px) {
  body {
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
  }
  .navigation {
    width: 200px;
  }
  .navigation ul li a .icon i {
    font-size: 1.25rem;
  }
  .navigation ul li a .title {
    font-size: 1rem;
  }
  .main {
    width: calc(100% - 200px);
    left: 200px;
  }
  .toggle {
    font-size: 1.5rem;
  }
  .search {
    width: 200px;
  }
  .search label input {
    height: 30px;
  }
  .tabset-header {
    width: 75%;
    left: 270px;
  }
  .tabset-header .form-group,
  .tabset-header p {
    padding: 0 5px;
  }
  .guest-container .top{
      margin-top: 5px;
  }
  .guest-container .top label {
    width: 170px;
  }
  .guest-container .top .right input,
  .guest-container .top .right select,
  .guest-container .top .mid input,
  .guest-container .top .mid select,
  .guest-container .top .left input,
  .guest-container .top .left select {
    width: 150px;
  }
  .guest-container .top .right .form-group label:nth-child(1){
      width: 75px;
  }
  .guest-container .top .right .form-group-1 input{
      width: 120px;
  }
  .guest-container .bottom table tr td{
    height: 10px;
}
}
/* Reservation Container */
.reservation-container {
  display: flex;
}
/* Left panel */
.resa-info-left {
  flex: 2;
}
.resa-info-left h1 {
  margin-right: 25px;
}
.resa-info-left h1,
.resa-info-right h1 {
  padding: 5px;
  background: var(--blue);
}
/* Left panel- Top */
.reservation-container .resa-info-left .top-form {
  padding: 20px;
  display: flex;
}
.resa-info-left .top-form .top-left,
.resa-info-left .top-form .top-mid,
.resa-info-left .top-form .top-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.resa-info-left .top-form label {
  display: inline-block;
  width: 135px;
  text-align: right;
}
.resa-info-left .top-form select {
  width: 190px;
}

.resa-info-left .top-form .top-left .content,
.resa-info-left .top-form .top-mid .content,
.resa-info-left .top-form .top-right .content {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

/* Top - Left panel- Mid */
.resa-info-left .mid-form {
  display: flex;
  padding: 20px;
}
.resa-info-left .mid-form .mid-left {
  flex: 2;
  border: 1px solid var(--black1);
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}
.resa-info-left .mid-form .mid-left .content {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.resa-info-left .mid-form .mid-left .content-1 {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}
.resa-info-left .mid-form .mid-right {
  flex: 1;
  border: 1px solid var(--black1);
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}
.resa-info-left .mid-form .mid-right .content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.resa-info-left .mid-form .mid-right .content label {
  margin-right: 5px;
  display: inline-block;
  width: 150px;
  text-align: right;
}
.resa-info-left .mid-form .mid-right .content input {
  width: 70px;
}

/* Left panel- Bottom */
.resa-info-left .bottom-form {
  display: flex;
  padding: 20px;
}
.resa-info-left .bottom-form .bottom-left {
  flex: 2;
  border: 1px solid var(--black1);
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
.resa-info-left .bottom-form .bottom-left label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.resa-info-left .bottom-form .bottom-left .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}

.resa-info-left .bottom-form .bottom-right {
  flex: 1;
  border: 1px solid var(--black1);
  border-radius: 5px;
  padding: 5px;
}
.resa-info-left .bottom-form .bottom-right .content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.resa-info-left .bottom-form .bottom-right label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.resa-info-left .bottom-form .bottom-right input {
  width: 120px;
}

/* Right panel */
.resa-info-right {
  flex: 1;
  padding-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}
.resa-info-right label {
  font-weight: normal;
}
.resa-info-right .top,
.resa-info-right .mid {
  border: 1px solid var(--black1);
  padding: 20px 5px;
  margin-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.resa-info-right .top .content-1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 0 5px;
}
.resa-info-right .top .content-1 select {
  width: 100px;
}
.resa-info-right .top .content-2 {
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 10px;
}
.resa-info-right .top .content-2 .form-text-1,
.resa-info-right .top .content-2 .form-text-2 {
  flex: 1;
}
.resa-info-right .top .content-2 .form-text-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.resa-info-right .top .content-2 .form-text-2 input {
  width: 85px;
}
.resa-info-right .mid .content {
  margin-bottom: 20px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resa-info-right .mid .content input {
  width: 160px;
}
.resa-info-right .mid .content .datepicker {
  display: inline;
  width: 130px;
}
.resa-info-right .bottom {
  display: flex;
}
.resa-info-right .bottom-left,
.resa-info-right .bottom-right {
  width: 50%;
}
.resa-info-right .bottom-left {
  margin-right: 5px;
  border: thin solid var(--black1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.resa-info-right .bottom-left h1 {
  margin-bottom: 20px;
}
.resa-info-right .bottom-left label {
  display: inline-block;
  text-align: right;
  width: 95px;
  padding: 10px 0;
  font-weight: normal;
}
.resa-info-right .bottom-left select {
  width: calc(100% - 115px);
}
.resa-info-right .bottom-right {
  margin-right: 5px;
  border: thin solid var(--black1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
}
.resa-info-right .bottom-right h1 {
  margin-bottom: 20px;
}
.resa-info-right .bottom-right table {
  margin-top: 5px;
  border: thin solid var(--grey);
}
.resa-info-right .bottom-right table thead {
  background: var(--blue);
}
.resa-info-right .bottom-right table thead tr th {
  font-weight: normal;
  font-size: 14px;
  color: var(--white);
  padding: 5px;
}
.resa-info-right .bottom-right table tbody tr td {
  height: 200px;
  text-align: center;
}

/* Modals */

/* Modal head */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-header h3 {
  color: var(--white);
  background: var(--blue);
  width: 100%;
  padding: 10px;
}
/* The Close Button */
.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}
.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding: 3rem;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  transition: all 0.5s ease-in-out;
}
.modal.active {
  display: block;
}

/* Modal Content */
.extra_bed-modal-content,
.rate_info-modal-content,
.room-modal-content,
.ta-modal-content,
.special_service-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.extra_bed-modal-content .time,
.rate_info-modal-content .time,
.room-modal-content .time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  padding: 10px;
}
.extra_bed-modal-content .time .form-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extra_bed-modal-content .time .form-time label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid var(--grey);
  padding: 0.5rem;
  text-align: center;
}
thead tr th {
  background: var(--blue);
}
.table-day th:nth-child(2),
.table-day th:nth-child(9),
.table-day td:nth-child(2),
.table-day td:nth-child(9) {
  background: yellow;
}
.table-day th:nth-child(3),
.table-day td:nth-child(3) {
  background: orange;
}
tfoot {
  height: 30px;
}
.extra_bed-modal-content p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.rate_info-modal-content .time label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
.table-rate th:nth-child(1),
.table-rate th:nth-child(2),
.table-rate th:nth-child(3) {
  width: 150px;
}
.table-rate th:nth-child(5) {
  width: 10px;
  background: var(--white);
}
.table-rate th .fa-pen {
  margin-right: 5px;
}
.table-rate th .fa-plus {
  font-size: 1.5rem;
  color: var(--blue);
  cursor: pointer;
}
.table-rate td .fa-times {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}
tr.hide {
  display: none;
}
.rate_info-modal-content .bottom {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate_info-modal-content .bottom a i {
  margin-right: 5px;
}

.table-room tr td:nth-child(1),
.table-room tr td:nth-child(2) {
  background: chartreuse;
}
.room-modal-content .bottom {
  display: flex;
}
.room-modal-content form {
  display: flex;
  width: 80%;
  margin-top: 1rem;
  padding: 10px;
  border: 1px solid var(--grey);
}
.room-modal-content form input,
.room-modal-content form select {
  width: 160px;
  margin-bottom: 5px;
}
.room-modal-content form .right,
.room-modal-content form .mid,
.room-modal-content form .left {
  flex: 1;
  margin-right: 5px;
}
.room-modal-content form .right label,
.room-modal-content form .mid label,
.room-modal-content form .left label {
  display: inline-block;
  text-align: right;
  font-weight: normal;
  width: 120px;
}
.room-modal-content form .btns {
  height: 30px;
}
.room-modal-content .button {
  margin: 25px;
}
.ta-modal-content .form-group {
  display: flex;
  padding: 30px;
}
.ta-modal-content .form-group .left,
.ta-modal-content .form-group .right {
  flex: 1;
}
.ta-modal-content .form-group .left label,
.ta-modal-content .form-group .right label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 8px;
}
.ta-modal-content .btns {
  margin-left: 20px;
  height: 30px;
}
fieldset {
  flex: 1;
  padding: 0 10px;
  border-radius: 10px;
}
fieldset label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

/* Special service Modal */
.special_service-modal-content .top-form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.special_service-modal-content .top-form-group .left p {
  padding: 3px;
}
.special_service-modal-content .top-form-group .left b {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1.2rem;
  color: var(--red);
}
.special_service-modal-content .mid-form-group {
  display: flex;
}
.special_service-modal-content .mid-form-group .left {
  flex: 1.5;
  margin-right: 5px;
  height: 14rem;
  overflow: auto;
}
.special_service-modal-content .mid-form-group .left .table-ss {
  position: relative;
}
.special_service-modal-content .mid-form-group .left .table-ss th {
  position: sticky;
  top: 0;
}
.special_service-modal-content .mid-form-group .table-ss th:nth-child(2),
.special_service-modal-content .mid-form-group .table-ss td:nth-child(2) {
  text-align: left;
}
.special_service-modal-content .mid-form-group .table-ss th:nth-child(3),
.special_service-modal-content .mid-form-group .table-ss td:nth-child(3) {
  text-align: right;
}
.special_service-modal-content .mid-form-group .right {
  flex: 1;
  margin-left: 5px;
  border: thin solid var(--grey);
}
.special_service-modal-content .mid-form-group .right span {
  background: var(--blue);
  display: inline-block;
  height: 2.4rem;
  width: 100%;
  margin-bottom: 5px;
}
.special_service-modal-content .mid-form-group .right label {
  font-weight: normal;
  display: inline-block;
  text-align: right;
  width: 80px;
  padding: 10px 0;
}
.special_service-modal-content .mid-form-group .right textarea {
  border: thin solid var(--blue);
  border-radius: 5px;
  vertical-align: top;
}
.special_service-modal-content .mid-text {
  margin: 1rem 0;
  font-weight: 600;
}
